<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Andrew Gambardella (高波旭)</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
  <header>
    <div class="site-title">
      Andrew Gambardella (高波旭)
    </div>
    {% include language-switcher.html %}
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>Copyright © {{ site.time | date: '%Y' }} {{ site.title }}</p>
  </footer>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>

